<header class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/home']"  >Twitter Clone 2</a>
    <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        </li>

        <app-singin></app-singin>

      </ul>

    </div>

</header>
<div class="container content">
  <div class="alert alert-info">
      This is a Twitter clone to learn angular 2 and Golang <br>
      Things might not work.
  </div>
  <div class="row">
    <div class="col-xs-4 col-lg-4">
      <div class="profile_card">
        <h5 class="">Username</h5>
        <p class="lead">Some random stuff about a bio and things :D</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="" role="button">Learn more</a>
        </p>
      </div>
    </div>
    <div class="col-sm-8">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
