<header class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/home']"  >Twitter Clone 2</a>
    <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" (click)="navbarCollapsed = !navbarCollapsed">Home <span class="sr-only">(current)</span></a>
        </li>

        <app-singin></app-singin>

      </ul>

    </div>

</header>
<div class="container content">
  <div class="alert alert-info">
      This is a Twitter clone to learn angular 2 and Golang <br>
      Things might not work.
  </div>
  <router-outlet></router-outlet>
</div>
